<html>
  <head>
    <title>JunSeong blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">JunSeong Blog</a></h1>
    </div>

    <div>
      <p>published: 15.01.2019, 11:21</p>
      <h2><a href="">My first post</a></h2>
    </div>

    <div>
      <p>published: 15.01.2019, 11:21</p>
      <h2><a href="">My second post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
    </div>

    {% for post in posts %}
      <div>
          <p>published: {{post.published_date}} </p>
          <h1><a href="">{{post.title}}</a></h1>
          <p>{{post.text | linebreaksbr}}</p>
      </div>
    {% endfor %}
  </body>
</html>
